*{
    margin: 0;
    padding: 0;
    box-sizing: border-box0;
    border: 1px solid black;
}

.bg{
    display: flex;
    height: 100vh;
    background-color: lightblue;
    flex-direction: column;
}

header{
    flex-grow: 0;
}

main{
    flex-grow: 1;
}

footer{
    flex-grow: 0;
}